@import url('https://fonts.googleapis.com/css?family=Concert+One');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Concert One', cursive;
}

html {
  background: url('wallpaper/drum-wallpaper.jpg') bottom center no-repeat;
  background-size: cover;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 60px;
  margin-top: 120px;
  margin-bottom: 50px;
  text-shadow: -16px 11px 20px rgba(0, 0, 0, 0.27);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.key {
  margin: 10px;
  flex-basis: 60px;
  height: 60px;
  background-color: #615889;
  border-radius: 10px;
  text-align: center;
  transition: all 0.07s ease;
  border: 2px solid #ff835f;
  -webkit-box-shadow: -24px 9px 35px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -24px 9px 35px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -24px 9px 35px 2px rgba(0, 0, 0, 0.3);

  /* to make texts not selectable by mouse*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.key-sign {
  margin-top: 10px;
  display: block;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.sound {
  display: block;
  background-color: antiquewhite;
  font-size: 14px;
  text-transform: lowercase;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

/* latin-ext */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local('Concert One'), local('ConcertOne-Regular'),
    url(https://fonts.gstatic.com/s/concertone/v9/VEM1Ro9xs5PjtzCu-srDqSTsjP6yuQ.woff2)
      format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local('Concert One'), local('ConcertOne-Regular'),
    url(https://fonts.gstatic.com/s/concertone/v9/VEM1Ro9xs5PjtzCu-srDqSTijP4.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
